<div id='about' class='boxed'>
  <h2>ABOUT:</h2>
  
  <div id='hire-me'>
    <img src='/images/me.png' alt='me' />
    <a href='/contact'>HIRE ME</a>
  </div>
  
  <p>I&apos;d love to hear from you. If you&apos;d like a quote, or more information about working with me, please fill out the form with a detailed description of your project, and I will respond as soon as possible!</p>
  
  <h3>FIND ME ELSEWHERE:</h3>
  
  <ul id='social' class='clearfix'>
    <li class='dribble'><a href='#' title='Dribble'>Dribbble</a></li>
    <li class='facebook'><a href='#' title='Facebook'>Facebook</a></li>
    <li class='twitter'><a href='#' title='Twitter'>Twitter</a></li>
    <li class='linkedin'><a href='#' title='LinkedIn'>LinkedIn</a></li>
  </ul>
</div>