<div id='about' class='boxed'>
  <h2>ABOUT ME:</h2>
  
  <div id='hire-me'>
    <img src='/images/me.png' alt='me' />
    <a href='/contact'>HIRE ME</a>
  </div>
  
  <p>I&apos;m Karmon French. I went to school for design, mainly focusing on print and branding, but recently I&apos;ve been interested in web and mobile app design. I love to learn, also I love cats.</p>
  
  <h3>FIND ME ELSEWHERE:</h3>
  
  <ul id='social' class='clearfix'>
    <li class='dribbble'><a href='http://dribbble.com/kbfrench' title='Dribbble'>Dribbble</a></li>
    <li class='facebook'><a href='http://facebook.com/karmonfrench' title='Facebook'>Facebook</a></li>
    <li class='twitter'><a href='http://twitter.com/kbfrench' title='Twitter'>Twitter</a></li>
    <li class='linkedin'><a href='http://linkedin.com/in/karmonfrench' title='LinkedIn'>LinkedIn</a></li>
  </ul>
</div>