<div id='contact' class='boxed'>
  <h2>CONTACT:</h2>
  
  <p>I&apos;d love to hear from you. If you&apos;d like a quote, or more information about working with me, please fill out the form with a detailed description of your project, and I will respond as soon as possible!</p>
  
  <form action='http://kbfrench.wufoo.com/forms/contact-form/' method='post'>
    <input type='hidden' name='idstamp' id='idstamp' value='9JXcda9q3kK1Q3vDWu5ba48SsxkO2paDb7pYxSSn81A=' />
    
    <div class='field name'>
      <label for='name'>name:</label><br />
      <input type='text' name='Field5' id='name' />
    </div>
    
    <div class='field email'>
      <label for='email'>email:</label><br />
      <input type='text' name='Field6' id='email' />
    </div>
    
    <div class='field details'>
      <label for='details'>details <span>(budget, due date, project type):</span></label><br />
      <textarea name='Field7' id='details'></textarea>
    </div>
    
    <button>send the message</button>
  </form>

</div>