<div class='inside'>
  <div id='hero'>
    <h2>I CREATE DESIGNS FOR THESE:</h2>
    <ul id='bubbles'>
      <li class='ios'>iOS<div class='point'></div></li>
      <li class='web'>WEB<div class='point'></div></li>
      <li class='print'>PRINT<div class='point'></div></li>
    </ul>
    <ul id='icons' class='clearfix'>
      <li class='ios'><a href='/work#ios'>iOS</a></li>
      <li class='web'><a href='/work#web'>WEB</a></li>
      <li class='print'><a href='/work#print'>PRINT</a></li>
    </ul>
    <h3>availability: freelance &amp; contract <span class='small'>or</span> fulltime</h3>
  </div>
</div>