<div id='work' class='inside'>
  
  <div id='ios' class='section'>
    <h2>iOS</h2>
    <ul class='clearfix'>
      <li class='first'>
        <a href='/work/next-room'>
        <img src='/images/work-thumb.jpg' alt='Next Room'/>
        Next Room</a>
      </li>
    </ul>
  </div>
  
  <div id='web' class='section'>
    <h2>WEB</h2>
    <ul class='clearfix'>
      <li class='first'>
        <a href='/work/next-room'>
        <img src='/images/work-thumb.jpg' alt='Next Room'/>
        Next Room</a>
      </li>
    </ul>
  </div>
  
  <div id='print' class='section'>
    <h2>PRINT</h2>
    <ul class='clearfix'>
      <li class='first'>
        <a href='/work/next-room'>
        <img src='/images/work-thumb.jpg' alt='Next Room'/>
        Next Room</a>
      </li>
    </ul>
  </div>
</div>