<div id='work' class='inside'>
  <%= active_if(nil) %>
  <div id='ios' class='section'>
    <h2>iOS</h2>
    <ul class='clearfix'>
      <li class='first'>
        <a href='/work/ios/next-room'>
        <img src='/images/work/ios-next-room-thumb.jpg' alt='Next Room'/>
        Next Room</a>
      </li>
    </ul>
  </div>
  
  <div id='web' class='section'>
    <h2>WEB</h2>
    <ul class='clearfix'>
      <li class='first'>
        <a href='/work/web/espin'>
        <img src='/images/work/web-espin-thumb.jpg' alt='eSpin'/>
        eSpin</a>
      </li>
      
      <li>
        <a href='/work/web/mace-carmichael'>
        <img src='/images/work/web-mace-carmichael-thumb.jpg' alt='Mace Carmichael'/>
        Mace Carmichael</a>
      </li>
      
      <li>
        <a href='/work/web/next-room'>
        <img src='/images/work/web-next-room-thumb.jpg' alt='Next Room'/>
        Next Room</a>
      </li>
      
      <li class='first'>
        <a href='/work/web/olan-mills'>
        <img src='/images/work/web-olan-mills-thumb.jpg' alt='Olan Mills'/>
        Olan Mills</a>
      </li>
      
      <li>
        <a href='/work/web/wildlife'>
        <img src='/images/work/web-wildlife-thumb.jpg' alt='North GA Wildlife Control'/>
        North GA Wildlife Control</a>
      </li>
    </ul>
  </div>
  
  <div id='print' class='section'>
    <h2>PRINT</h2>
    <ul class='clearfix'>
      <li class='first'>
        <a href='/work/print/teach-here'>
        <img src='/images/work/print-teach-here-thumb.jpg' alt='TeachHere'/>
        TeachHere</a>
      </li>
      
      <li>
        <a href='/work/print/exceed'>
        <img src='/images/work/print-exceed-thumb.jpg' alt='Exceed'/>
        Exceed</a>
      </li>
      
      <li>
        <a href='/work/print/next-room'>
        <img src='/images/work/print-next-room-thumb.jpg' alt='Next Room'/>
        Next Room</a>
      </li>
      
      <li class='first'>
        <a href='/work/print/design-geist'>
        <img src='/images/work/print-design-geist-thumb.jpg' alt='Design Geist'/>
        Design Geist</a>
      </li>
      
      <li>
        <a href='/work/print/tim-grass'>
        <img src='/images/work/print-tim-grass-thumb.jpg' alt='Tim Grass'/>
        Tim Cuts Grass</a>
      </li>
      
      <li>
        <a href='/work/print/easy'>
        <img src='/images/work/print-easy-thumb.jpg' alt='Easy'/>
        Easy Bistro</a>
      </li>
    </ul>
  </div>
</div>