<div id='top' class='work'>
  <h2>NEXTROOM APP - website &amp; web app</h2>
  <h3>task, task, task</h3>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero.</p>
  <img src='#' />
</div>

<div id='back-to-work'>
  <a href='/work'>&lt; back to all work</a>
</div>
