<div id='top' class='work'>
  <h2>eSpin</h2>
  <h3>wireframes &amp; website design, content entry, HTML/CSS edits</h3>
  <img src='/images/work/web/espin/one.png' />
  <img src='/images/work/web/espin/two.png' />
  <img src='/images/work/web/espin/three.png' />
</div>

<div id='back-to-work'>
  <a href='/work'>&lt; back to all work</a>
</div>
