
<html>
  <head>
    <title></title>
    <link rel='stylesheet' type='text/css' href='/css/reset.css' />
    <link rel='stylesheet' type='text/css' href='/css/styles.css' />
     <script type='text/javascript' src='/js/jquery.js'></script>
    <script type='text/javascript' src='/js/scripts.js'></script>
  </head>
  <body>
    <div id='main'>
      <div id='molding'></div>
      <div id='header'>
        <div class='inside'>
          <h1 id='logo'><a href='/'>Karmon<br />French</a></h1>
          <ul id='nav'>
            <li class='ios'><a href='/work#ios'>iOS</a></li>
            <li class='web'><a href='/work#web'>WEB</a></li>
            <li class='print'><a href='/work#print'>PRINT</a></li>
            <li class='about'><a href='/about'>ABOUT</a></li>
            <li class='current'><a href='/current'>CURRENT</a></li>
            <li class='contact'><a href='/contact'>CONTACT</a></li>
          </ul>
        </div>
      </div>
      
      <%= yield %>
      
      <div id='footer'>
        <div class='inside'>
          <h4>karmon french <span class='small'>></span> designer</h4>
          <ul class='nav clearfix'>
            <li class='first'><a href='/work#ios'>iOS</a></li>
            <li><a href='/work#web'>WEB</a></li>
            <li><a href='/work#print'>PRINT</a></li>
            <li><a href='/about'>ABOUT</a></li>
            <li><a href='/current'>CURRENT</a></li>
            <li><a href='/contact'>CONTACT</a></li>
          </ul>
          
          <h4>elsewhere:</h4>
          <ul class='nav clearfix'>
            <li class='first'><a href='#'>DRIBBLE</a></li>
            <li><a href='#'>TWITTER</a></li>
            <li><a href='#'>FACEBOOK</a></li>
            <li><a href='#'>LINKEDIN</a></li>
          </ul>
          <div id='copyright'>&copy;2011 karmon french. All rights reserved.</div>
        </div>
      </div>
    </div>
    <%# refresh %>
  </body>
</html>
